extends html

block title
	| Runningball Basketball

block styles
	link(rel='stylesheet', href=cssUrl+'dark.css', media='screen', id="theme-stylesheet")

block body
	p test

block scripts
	script(src=jsUrl+"/lib.js")
	script(src=jsUrl+"/main.js")
